# PHP Dependencies
/vendor/

# Python Virtual Environment
/venv/

# Environment / Secrets
.env
.env.*

# IDE files
.idea/
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Large media files (store separately / use Git LFS)
assets/video/*.mp4
assets/media/*.mp3
labs/resources/*.pdf
assets/pdf/*.pdf
