/* <style> */
    nav {
        background-color: #333;

    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        visibility: visible;
    }

    li {
        padding: 15px 20px;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 18px;
    }

    a:hover {
        background-color: #555;
        padding: 15px 20px;
    }
/* </style> */